$font-main: 'Roboto', sans-serif;

body {
  margin: 0;
}

.card{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 408px;
  align-items: center;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
}

.card__img{
  display: block;
  width: 160px;
  height: 134px;
  margin-top: 32px;
}

.card__name{
  margin-top: 40px;
  font-family: $font-main;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 166px;
  margin-bottom: 0;
}

.card__code{
  align-self: flex-start;
  margin-left: 16px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 10px;
  margin-top: 4px;
  line-height: 14px;
  width: 98px;
  color: #616070;
}

.card__review{
  display: flex;
  justify-content: center;
  width: 166px;
  height: 16px;
  margin-top: 16px;
}

.card__stars{
  display: flex;
  align-items: center;
}


