$font-main: 'Roboto', sans-serif;

p {
  margin: 0;
}

body {
  margin: 0;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 408px;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__img {
  display: block;
  width: 160px;
  height: 134px;
  margin-top: 32px;
}

.card__name {
  margin-top: 40px;
  font-family: $font-main;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 166px;
  margin-bottom: 0;
}

.card__code {
  align-self: flex-start;
  margin-left: 16px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 10px;
  margin-top: 4px;
  line-height: 14px;
  width: 98px;
  color: #616070;
}

.card__review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 166px;
  height: 16px;
  margin-top: 16px;
}

.card__stars {
  width: 96px;
  height: 16px;
  display: flex;
  align-items: center;
}

.card__star {
  background-image: url(../images/star.svg);
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.card__star:not(:last-child) {
  margin-right: 4px;
}

.card__stars .card__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.card__number {
  font-family: $font-main;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
}

.card__price {
  margin-top: 24px;
  display: flex;
  width: 166px;
  justify-content: space-between;
}

.card__price-label {
  line-height: 18px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  color: #616070;
}

.card__price-value {
  font-family: $font-main;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__buy {
  display: flex;
  width: 166px;
  height: 40px;
  margin-top: 16px;
  background-color: #00acdc;
  border-radius: 5px;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.card__buy:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
